.color1{
    color:  #7bc4b8 !important;
}
*:not(i) {
    font-family: 'Roboto Condensed', sans-serif !important;
}
#ggmap .col-sm-7{
    border-right: 2px solid;
    padding: 0;
}
#ggmap .row {
    display: flex;
}

#ggmap .col-sm-5 {
    display: flex;
}

#ggmap ul {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#ggmap i {
    /* height: 50px; */
    /* width: 50px; */
    border-radius: 50%;
    background-color: #7bc4b8;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
}
.patients-testi {
    padding: 90px 0;
    padding-top: 35px;
    background: url(../images/myauris/dr-testimonial-bg.jpg) no-repeat center center fixed;
}
.patients-testi .testi-sec img {
    width: 100%;
    border-radius: 5%;
    height: 100%;
}
.question {
    font-family: 'Cabin', sans-serif !important;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3px;
    text-transform: capitalize;
    padding-right: 25%;
}
.template_faq {
    padding-top: 25px;
    padding-bottom: 40px;
    background: #f7f7f7;
}
.template_faq h2 {
    margin-bottom: 5%;
    margin-top: 5%;
}
.faq_desc {
    margin-bottom: 20px;
}
.footer {
    background: #434a5a;
    border-top: solid 6px #373e4c;
    padding-bottom: 50px;
}
.footer h2 {
    color: #7bc4b8;
    padding-top: 30px;
}
.form-group{
    margin-bottom: 40px !important;
}
.footer p {
    color: #f7f7f7;
    color: #f7f7f7;
    margin: 15px;
}
.footer .emergency {
    text-align: center;
    margin: 50px 0 0 0;
}
.our-address {
    background: #f7f7f7;
}
.section-padding {
    padding: 60px 0;
}
#our-address {
    background-color: aliceblue;
    padding: 50px;
}
.boxft {
    float: left;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}
.boxft i {
    font-size: 40px;
    color: #7bc4b8;
}
.logoft {
    width: 300px;
    height: 150px;
}
.footer_social {
    text-align: center;
}
.footer_social li {
    float: left;
}
h4 {
    font-size: 25px;
}
.detail {
    padding: 10px 5px;
}
.detail h4 {
    line-height: 30px;
}
.tp-banner {
    background-image: url('../images/myauris/banner.jpg') !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.box-introductions {
    position: absolute;
    background-color: rgba(250, 250, 250, 0.8);
    bottom: 116px;
    right: 10%;
    border-bottom: solid 20px #7bc4b8;
    padding-left: 4%;
    padding-right: 3%;
    z-index: 999;
    border-radius: 25px 25px 0 0;
}
.box-introductions h1 {
    font-size: 2.5em;
    color: #7bc4b8;
    margin-bottom: 0px;
}
.box-introductions h4 {
    font-weight: 100;
}
.box-introductions p {
    margin-top: 10%;
}
.box-introductions button {
    background-color: #525866;
    height: 50px;
    width: 150px;
    color: whitesmoke;
    border-radius: 10px;
    position: absolute;
    bottom: 5%;
}
#main-title3 span {
    color: whitesmoke;
    font-size: 20px;
}
#owl-demo4 .item {
    margin: 0 5px 0;
    padding: 7px;
    background: #fff;
    box-shadow: 3px 3px 5px #999;
    height: 100%;
}
.owl-carousel .owl-wrapper-outer {
    width: 100%;
    padding-bottom: 10px;
}
.owl-wrapper {
    height: 680px;
    width: 100%;
}
.meet-specialists {
    padding: 50px 0;
}
.meet-specialists .detail {
    margin: 35px 0 0 0;
    padding: 10px 10px;
}
.meet-specialists .detail p {
    margin: 15px 0 0 0;
}
.welcome {
    padding: 20 0 40px 0 !important;
    padding: 40px 0;
}
.header {
    max-height: 50px;
    padding: 10px;
    padding: 10px 0;
}
.header .nav li {
    float: left;
    padding: 11px 0;
    margin-top: 10px;
}
.main-title {
    margin: 20px 0 20px 0;
}
.main-title b {
    color: #7bc4b8;
}
#main-title h2 {
    color: #7bc4b8;
}
#main-title4 h2 {
    color: #7bc4b8;
}
header.sticky .logo img {
    width: 110px;
    margin: 10px 0 0 0;
}
p.ans {
    margin-left: 25%;
    background-color: #7bc4b8;
    border-radius: 20px;
    padding: 15px;
    padding-left: 20px;
    font-family: 'Cabin', sans-serif !important;
}
.flex-map {
    display: flex;
    justify-content: center;
    padding: 2%;
}
.time {
    animation-duration: 30s !important;
}
.time2 {
    animation-duration: 2s;
}
.count1 {
    animation-iteration-count: 1 !important;
}
.tp-banner-container {
    overflow: hidden;
}
.bgblack {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: 0 0;
    opacity: 0.4;
    background-color: black;
}
.mypd5 {
    padding-bottom: 5%;
}
.mypd3 {
    padding-bottom: 3%;
}
.mypd4 {
    padding: 0 4%;
}
.z-content-inner .row{
    display: flex;
}
.z-content-inner .col-md-6:first-child{
    padding-right: 30px;
}
.z-content-inner .col-md-6:last-child{
    padding-left: 30px;
    display: flex;
    align-items: center;
}
#tabbed-nav {
    min-height: 0px !important;
}
@media (max-width: 768px) {
    .box-introductions {
        display: none;
    }
    .bgblack {
        display: none;
    }
}
#main-title2 h2{
    font-weight: 700;
    font-size: 42px;
    color: #7bc4b8;
    text-align: center;
}
.main-title h2 span {
    font-weight: 100;
    color: #7bc4b8;
}
/*slide*/
[type=radio] {
    display: none;
}

#slider {
    height: 500px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 500px;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-100%,0,-500px) rotateY(-45deg);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-50%,0,-200px)rotateY(-30deg);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(50%,0,-200px)rotateY(30deg);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(100%,0,-500px) rotateY(45deg);
}

#slide1 { background: #00BCD4 }
#slide2 { background: #4CAF50 }
#slide3 { background: #CDDC39 }
#slide4 { background: #FFC107 }
#slide5 { background: #FF5722 }
/*slide*/
@media (max-width: 992px){
    .top-bar .get-touch li a {
        padding: 13px 6px;
    }
}
.top-bar span:first-child{
    margin-right: 5px;
}
.get-touch i{
    font-weight: 700;
}