@import "_variables.scss";
@import "_mixins.scss";

@include font-face(UTM-Duepuntozero, "../fonts/UTM-Duepuntozero", 400, normal, swap, ttf);
@include font-face(HelveticalNeue, "../fonts/HelveticaNeue-Light", 300, normal, swap, ttf otf);
@include font-face(HelveticalNeue, "../fonts/HelveticaNeue-Light-Italic", 300, italic, swap, ttf otf);
@include font-face(HelveticalNeue, "../fonts/HelveticaNeue", 400, normal, swap, ttf otf);

*, *:before, *:after {
    @include prefix((box-sizing: border-box), webkit moz);
    margin: 0;
    padding: 0;
}

html {
    overflow: visible !important;
    margin: 0 !important;
}

body {
    font: 400 16px "HelveticalNeue", sans-serif;
    color: $text_color;
    background-color: #fff;
    line-height: 1.5;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'UTM-Duepuntozero', sans-serif;
    font-weight: 400;
    display: block;
    color: $text_color;
    margin-bottom: 20px;
    padding: 0;
    line-height: 1;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li, ol li {
    list-style: none;
}

a {
    @include prefix((transition: all .3s ease-in-out), webkit moz o);
}

img {
    max-width: 100%;
    height: auto;
}

%title {
    font-weight: 600;
    font-size: 40px;
    color: $theme_color;
    text-transform: capitalize;
    text-align: center;
}

%card-item {
    padding: 0 15px;

    .news-item-inner {
        border-radius: 4px;
        background: white;
        overflow: hidden;

        > a {
            border-radius: 0 0 100% 100%;
            display: block;
            overflow: hidden;
            margin: 0 -80px;
            padding: 0 80px;
            @include prefix((transform: translateZ(0)), webkit moz ms o);
            text-align: center;

            > img {
                @include prefix((border-radius: 4px), webkit moz);
                @include prefix((transition: all .3s ease-in-out), webkit moz o);

                &:hover {
                    @include prefix((transform: scale(1.1)), webkit moz ms o);
                }
            }
        }

        .content {
            a {
                text-decoration: none;

                h4 {
                    color: $theme_color;
                    margin-top: 15px;
                }
            }

            .desc {
                text-align: justify;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }
    }
}

%widget-news-item {
    .info {
        .name {
            margin: 10px 0;
            font: 700 18px "UTM-Duepuntozero", sans-serif;

            a {
                color: $theme_color;
            }
        }

        .list-inline .list-inline-item {
            font-size: 13px;
            color: #777;

            i {
                margin-right: 10px;
                color: $theme_color_two;
            }
        }
    }
}

.section {
    padding: 60px 0;

    .section-title {
        position: relative;
        margin-bottom: 45px;
        text-align: center;

        .h3 {
            @extend %title;
            position: relative;
            display: inline-block;
            padding: 15px 50px;
            margin-bottom: 0;
            background: #fff;
        }

        &:before {
            @include pseudo;
            width: 100%;
            height: 2px;
            left: auto;
            top: 50%;
            background-color: $theme_color;
            transform: translateY(-50%);
        }
    }

    .section-description {
        max-width: 750px;
        margin: 0 auto;
        text-align: center;
    }
}

.overflow-hidden {
    overflow: hidden;
    position: relative;
}

.view-more {
    display: inline-block;
    padding: 3px;
    border: 1px solid $theme_color;
    @include prefix((border-radius: 50px), webkit moz);
    @include prefix((box-shadow: 0 2px 6px 0 $box_shadow_color), webkit moz);

    a {
        display: block;
        font-size: 16px;
        background-color: $theme_color;
        color: #fff;
        padding: 5px 15px;
        border: 1px solid $theme_color;
        @include prefix((border-radius: 50px), webkit moz);
        text-transform: uppercase;
    }

    &:hover {
        border-color: $theme_color_two;

        a {
            text-decoration: none;
            background-color: $theme_color_two;
            border-color: $theme_color_two;
        }
    }
}

.owl-theme .owl-dots .owl-dot {
    span {
        background-color: transparent;
        border: 1px solid $theme_color_two;
        @include prefix((transition: all .3s ease-in-out), webkit moz);
    }

    &.active span, &:hover span {
        background-color: $theme_color_two;
    }
}

.rating {
    color: $theme_color_two;
    margin-top: 20px;
    text-transform: uppercase;

    i {
        color: #ddd;

        &.checked {
            color: #FFD700;
        }
    }
}

#site-wrap {
    position: relative;
    z-index: 99;
    padding-top: 128px;
}

#header {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;

    .header-top {
        background-color: $theme_color;
        color: #fff;
        padding: 5px;

        .navbar-top {
            display: flex;
            @include prefix((flex-wrap: nowrap), webkit moz o);
            justify-content: space-between;

            ul li {
                float: left;
                font-size: 12px;

                a {
                    color: #fff;
                }
            }

            ul.info {
                li {
                    margin: 5px 20px 5px 0;

                    &:last-child {
                        margin-right: 0;
                    }

                    span {
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    .header-main .navbar-area {
        background-color: #fff;
        padding: 5px 0;
        @include prefix((box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, .3)), webkit moz);

        .navbar-brand.logo img {
            max-height: 70px;
        }

        .navbar-collapse {
            @include prefix((lex-pack: end), webkit ms);
            justify-content: flex-end;
            @include prefix((transition: 0.5s ease-in), webkit moz o);

            .navbar-nav .nav-item {
                display: inline-block;
                font-size: 16px;
                text-transform: capitalize;
                font-weight: 600;
                padding: 20px 8px;
                position: relative;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                .nav-link {
                    position: relative;
                    color: #212121;
                    padding-left: .4rem;
                    padding-right: .4rem;
                    font-weight: 700;
                    @include prefix((transition: 0.3s ease-in), webkit moz o);

                    &:after {
                        @include pseudo;
                        left: 0;
                        bottom: 0;
                        height: 2px;
                        width: 0;
                        background-color: transparent;
                        @include prefix((transition: all 0.3s ease-in), webkit moz o);
                    }
                }

                &:hover, &.active {
                    .nav-link {
                        color: #fe9f00;

                        &:after {
                            width: 100%;
                            background-color: #fe9f00;
                        }
                    }
                }
            }
        }

        &.nav-fixed {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 9;
            @include prefix((transition: 0.5s ease-in), webkit moz o);
        }
    }
}

.slider-show {
    .slider-show-heading {
        min-height: 700px;
        max-width: 1140px;
        margin: 0 auto;
        padding: 105px 15px 0;
        text-align: left;

        .slider-show-image {
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            left: 0;
            top: 0;
        }

        .caption {
            max-width: 450px;
            text-align: justify;
            float: left;

            h4 {
                color: $theme_color;
                font-size: 45px;
                font-weight: 300;
                //line-height: 82px;
                text-transform: capitalize;

                strong {
                    font-weight: 600;
                    font-size: 75px;
                    letter-spacing: 3.7px;
                }
            }

            .slider-show-info {
                font-size: 16px;
                line-height: 32px;
                margin: 24px 0 44px 0;
            }
        }
    }
}

#main {
    background: transparent url("../img/bg-main.jpg") center 14%/100% no-repeat;

    .home-wts {
        .section-title {
            margin-bottom: 20px;
        }

        .section-description {
            margin-bottom: 80px;
            font-size: 16px;
            color: #7a7992;
        }

        [type=radio] {
            display: none;
        }

        #slider {
            height: 480px;
            position: relative;
            perspective: 1000px;
            transform-style: preserve-3d;

            label {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                margin: auto;
                width: 55%;
                height: 100%;
                border-radius: 4px;
                position: absolute;
                left: 0;
                right: 0;
                cursor: pointer;
                transition: transform 0.4s ease;

                > span {
                    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2)
                }

                span {
                    display: block;

                    &.image {
                        width: 60%;

                        img {
                            width: 100%;
                            height: 427px;
                        }
                    }

                    &.content {
                        width: 40%;
                        height: 100%;
                        background: $theme_color;
                        color: #fff;
                        padding: 20px 15px;

                        .title {
                            font-family: 'UTM-Duepuntozero', sans-serif;
                            font-weight: 400;
                            font-size: 44px;
                            line-height: 1.2;
                            text-transform: uppercase;
                            padding-bottom: 20px;
                            margin-bottom: 40px;
                            border-bottom: 5px solid;
                        }

                        .text {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        #s1:checked ~ #slide4, #s2:checked ~ #slide5,
        #s3:checked ~ #slide1, #s4:checked ~ #slide2,
        #s5:checked ~ #slide3 {
            //box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
            transform: translate3d(55%, 0, -150px);
        }

        #s1:checked ~ #slide5, #s2:checked ~ #slide1,
        #s3:checked ~ #slide2, #s4:checked ~ #slide3,
        #s5:checked ~ #slide4 {
            //box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
            transform: translate3d(-55%, 0, -150px);
        }

        #s1:checked ~ #slide1, #s2:checked ~ #slide2,
        #s3:checked ~ #slide3, #s4:checked ~ #slide4,
        #s5:checked ~ #slide5 {
            //box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
            transform: translate3d(0, 0, 0);
        }

        #s1:checked ~ #slide2, #s2:checked ~ #slide3,
        #s3:checked ~ #slide4, #s4:checked ~ #slide5,
        #s5:checked ~ #slide1 {
            //box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
            transform: translate3d(55%, 0, -150px);
        }

        #s1:checked ~ #slide3, #s2:checked ~ #slide4,
        #s3:checked ~ #slide5, #s4:checked ~ #slide1,
        #s5:checked ~ #slide2 {
            //box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
            transform: translate3d(-55%, 0, -150px);
        }
    }

    .home-services {
        .section-title {
            margin-bottom: 35px;
        }

        .section-content .owl-services {
            &.owl-carousel .owl-stage-outer {
                padding: 10px 0;
            }

            .owl-item {
                .inner {
                    border: 1px solid #d6d5dd;
                    @include prefix((transition: all .4s ease-in-out), webkit moz ms o);
                }

                &.center .inner {
                    @include prefix((box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, .3)), webkit moz);
                }


                .item {
                    .image {
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        padding-bottom: 75%;
                    }

                    .description {
                        background-color: #fff;
                        padding: 15px;
                        text-align: justify;
                    }
                }
            }
        }
    }

    .home-kols {
        .section-title {
            margin-bottom: 60px;

            &:before {
                background-color: #fff;
            }

            .h3 {
                color: #fff;
                background-image: linear-gradient(to right, #cfbafd, #d7bdfe);
            }
        }

        .section-content {
            .nav.nav-tabs {
                border-bottom: 0;

                .nav-item {

                    margin-right: 50px;

                    &:last-child {
                        margin-right: 0;
                    }

                    .nav-link {
                        color: #7a7992;
                        padding: 0;
                        text-align: center;

                        img {
                            @include prefix((border-radius: 100%), webkit moz);
                            @include prefix((transition: all .4s ease-in-out), webkit moz ms o);
                            border: 3px solid #fff;
                        }

                        &.active, &:hover {
                            border-color: transparent;
                            background-color: transparent;

                            img {
                                border-color: $theme_color;
                            }
                        }

                        .h5, .carreer {
                            color: #7a7992;
                        }

                        .h5 {
                            margin: 20px 0 0;
                            font-weight: 600;
                        }
                    }
                }
            }

            .tab-content {
                padding: 90px 0 60px;

                .tab-pane {

                    box-shadow: 0 3px 6px;

                    .inner {
                        display: flex;
                        background: #fff;

                        .testimonial {
                            padding: 60px 20px;
                            position: relative;
                            width: 40%;
                            text-align: justify;

                            .kol-name {
                                font-size: 46.84px;
                                color: $theme_color_two;
                                margin-bottom: 40px;
                            }

                            .text {
                                color: #7a7992;
                                margin-bottom: 45px;
                            }

                        }

                        .video {
                            position: relative;
                            top: -30px;
                            right: -30px;
                            width: 60%;
                            box-shadow: 0 0 8px rgba(0, 0, 0, .4);
                        }
                    }
                }
            }
        }
    }

    .home-customers {
        .owl-customers.owl-carousel {
            .owl-stage-outer {
                padding: 60px 0;
            }


            .owl-item {
                background-color: #fff;
                opacity: 0;
                transition: all .4s ease-in-out;

                &.active {
                    opacity: 1;
                    z-index: 2;
                    transform: scale(0.8);

                    &:not(.center) {
                        filter: blur(4px);
                    }

                    &.center {
                        z-index: 9;
                        transform: scale(1);
                    }
                }

                .customer-inner {
                    display: flex;
                    box-shadow: 0 0 6px rgba(0, 0, 0, .4);

                    .image, .info {
                        width: 50%
                    }

                    .image img {
                        height: 100%;
                    }

                    .info {
                        padding: 60px 20px 20px;

                        .name {
                            @extend %title;
                            font-size: 36px;
                            color: $theme_color_two
                        }

                        .text {
                            font-size: 16px;
                        }

                        &:before {
                            @include pseudo;
                            width: 90px;
                            height: 41px;
                            top: -41px;
                            left: 17px;
                            background: transparent url("../img/haft-circle.png") center top/100% no-repeat;
                        }

                        .ava-smal {
                            position: absolute;
                            top: -34px;
                            left: 23px;
                            width: 78px;
                            height: 78px;
                            background-repeat: no-repeat;
                            background-size: 77px;
                            background-position: center top;
                            border-radius: 100%;
                        }
                    }
                }
            }
        }
    }

    .home-booking {
        background: transparent url("../img/bg-booking.jpg") center center/cover no-repeat;

        .form-title, .title {
            @extend %title;
        }

        .form-booking {
            p, .input-wrap {
                text-align: center;
            }

            p {
                font-size: 16px;
            }

            .input-wrap {
                label {
                    font-weight: 600;
                }
            }

            .form-group {
                .form-control {
                    border: none;
                    background-color: rgba(245, 81, 138, .2);
                }

                textarea {
                    height: 120px;
                    max-height: 120px;
                }
            }

            .btn-submit {
                border: none;
                color: #fff;
                background: #ee5188;
                padding: 10px 20px;
                font-size: 16px;
                border-radius: 5px;
            }
        }

        .address {
            .row-address {
                color: #7a7992;
                font-size: 13px;
                padding: 20px 0;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                }
            }

            .info {
                > .h6 {
                    font-weight: 600;
                    font-size: 24px;
                    color: $theme_color;
                }

                p {
                    margin-bottom: 10px;
                    font-size: 16px;

                    i.fas {
                        margin-right: 10px;
                        color: $theme_color;
                    }

                    a {
                        font-weight: 600;
                        color: $theme_color_two;
                    }
                }
            }
        }
    }

    .home-about {
        .section-content {
            text-align: center;

        }
    }
}

#footer {
    background-color: $theme_color_two;

    .footer-top {
        background-color: #fff;
        font-size: 14px;

        .contact .box-info {
            .item {
                position: relative;
                margin-bottom: 30px;

                .icon i {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $theme_color_two;
                    margin-right: 20px;
                    font-size: 36px;
                    border: 2px solid #fff;
                    @include prefix((border-radius: 100%), webkit moz);
                }

                .text {
                    .h5 {
                        font-size: 14px;
                        font-weight: 700;
                        margin-bottom: 5px;
                    }

                    p {
                        margin-bottom: 0;
                        font-weight: 400;
                    }

                    a {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding: 15px 0;
        color: #fff;
        font-size: 16px;

        a {
            color: #fff;
        }
    }
}

@media only screen and (max-width: 480px) {
    %section {
        padding: 30px 0;
    }
    %title {
        font-size: 36px;
        margin-bottom: 20px;
    }
}