@font-face {
    src: url("../fonts/Duepuntozero-Pro-Bold-trial.ttf");
    font-family:Duepuntozero ;
}
@font-face {
    src: url("../fonts/duepuntozero_bold.otf");
    font-family:Duepuntozero-number ;
}
.color1{
    color: #b5efce;
}

.f-box h4 {
    margin-top: 10px;
    margin-bottom: 15px;
}
.color2{
    color: #fbae17 ;
}
.color3{
    color:  #a9dae8;
}
.color4{
    color:  #b47bc9;
}
body{
    font-family: "Helvetica Neue";
}

.carousel-item span {
    color: #f66093;
}

.custom-content img {
    margin-bottom: 15px;
}

.custom-box span {
    color: #f54f89;
    text-transform: uppercase;
}

.custom-box i {
    color: #ffd527;
    font-size: 20px;
}
h1,h2,h3,h4,h5,h6{
    font-family: Duepuntozero;
}

.contact-video p {
    margin: 0;
    color: white;
    opacity: 0.8;
}
.contact-dr img {
    width: 100%;
}
.contact-logo {
    background-color: white;
    padding: 20px 30px;
}
.contact-logo strong {
    margin-right: 20px;
    color: #6b6b75;
}
.contact-logo i {
    background-color: #93268f;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    margin-right: 10px;
}
.contact-logo ul {
    height: 100%;
}
.contact-logo li {
    list-style-type: none;
    color: #9e9e9e;
}
.contact-logo img {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
#newt .owl-item span {
    float: right;
    opacity: 0.7;
}
#newt .owl-item p {
    text-align: justify;
}
#newt .owl-item h5 {
    margin: 30px 0 10px 0;
}
#newt h2.text-center {
    margin-bottom: 40px;
}
.newt-btn {
    border: 1px solid #93268f;
    display: block;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    padding: 4px;
    margin: 30px auto;
}
.newt-btn button {
    background-color: #93268f;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
section#newt {
    padding: 90px 0;
}
.progress1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}
#progress {
    position: relative;
}
#progress img {
    width: 100%;
    height: 270px;
}
#progress div.row {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.custom-box {
    background-color: white;
    padding: 12px;
    border-radius: 7px;
    position: relative;
    transform: s;
    /* display: flex; */
}
.custom-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.custom-box div:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: aliceblue;
    opacity: 0.3;
    border-radius: 7px;
    transition: all 0.3s ease-in;
}
.custom-box img {
    width: 100%;
    margin-bottom: 20px;
}
.custom-box:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: aliceblue;
    opacity: 0.3;
}
#custom .col-lg-3 {
    padding: 0 20px;
    transition: all 0.3s ease;
}
#custom .col-lg-3:hover {
    transform: scale(1.1);
}
#custom .col-lg-3:hover .custom-box div:before {
    display: none;
}
#custom .custom-content span {
    display: block;
    font-size: 100px;
    line-height: 30px;
    color: white;
    margin-top: 20px;
}
#custom .custom-content i {
    font-size: 15px;
    color: white;
    display: block;
    text-align: center;
    width: 70%;
    margin-bottom: 30px;
}
#custom h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0;
}
.custom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#custom {
    background: url(../img/banner2.jpg) no-repeat;
    padding-bottom: 90px;
}
#Carousel span {
    margin-bottom: 10px;
}
#Carousel img {
    border-radius: 10px;
    margin-bottom: 10px;
}
#Carousel .col-lg-4 div {
    box-shadow: 0 0 10px lightslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#appoitement h5 {
    margin: 20px 0;
    margin-top: 40px;
}
#appoitement form {
    background-color: #8a4b8c;
    border-radius: 7px;
    color: white;
    padding: 10px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#appoitement img {
    width: 100%;
}
.f-box p {
    font-size: 13px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-box span {
    margin-bottom: 10px;
}
.f-box img {
    width: 50% !important;
}
.f-box .text-center div {
    padding: 30px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f-box .col-3.text-center {
    padding: 0 20px;
}
#appoitement form button {
    width: 100%;
    border-radius: 30px;
    height: 50px;
    background-color: #f54f89;
    color: white;
    border: none;
    max-width: 250px;
    font-size: 20px;
    margin-bottom: 10px;
}
#appoitement form p {
    /* padding: 10px 0; */
    font-size: 24px;
    margin: 0;
    font-size: 35px;
}
#appoitement input::placeholder{
    color:#d0b7d1;
    font-family: Duepuntozero;
    opacity: 0.9;
}
#appoitement textarea::placeholder{
    color:#d0b7d1;
    font-family: Duepuntozero;
    opacity: 0.9;
}
#appoitement input[type="text"] {
    margin: 10px 0px;
    border-radius: 28px;
    height: 50px;
    padding-left: 13px;
    background-color: #8a4b8c;
    border: 1px solid darkgray;
    outline: none;
    width: 100%;
    max-width: 250px;
}

#appoitement textarea {
    margin: 10px 0px;
    border-radius: 28px;
    height: 50px;
    padding-left: 13px;
    background-color: #8a4b8c;
    border: 1px solid darkgray;
    outline: none;
    width: 100%;
    padding-top: 12px;
    max-width: 250px;
}
section#about {
    padding: 90px 0;
}
#about img {
    width: 100%;
    box-shadow: 5px 5px 10px darkgray;
}
#about .col-5 div {
    border: 1px solid #8a4b8c;
    padding: 3px;
    border-radius: 30px;
    width: 120px;
    outline: none;
}
#about button {
    background: #8a4b8c;
    width: 100%;
    border-radius: 20px;
    border: none;
    color: white;
    outline: none;
}
.banner-content {
    width: 40%;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}
.banner-content button {
    background: #9b76a2;
    width: 100%;
    border-radius: 20px;
    border: none;
    color: white;
    outline: none;
}
.banner-content div {
    border: 1px solid #9b76a2;
    padding: 3px;
    border-radius: 30px;
    width: 120px;
    outline: none;
}
h1 {
    color: #93268f;
}

#newt h1.text-center {
    margin-bottom: 40px;
}
h2 {
    color: #93268f;
}
h3 {
    color: #93268f;
}
h4 {
    color: #93268f;
}

.custom-box h4 {
    text-align: center;
}
h5 {
    color: #93268f;
}
h6 {
    color: #93268f;
}
.banner img {
    width: 100%;
}
.banner .position-absolute {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.header-menu .active a.nav-link {
    color: #93268f !important;
    border-bottom: 3px solid;
}
.header-menu img {
    width: 120px;
}
.header-menu li {
    text-transform: uppercase;
    font-size: 14px;
}
hr {
    transform: scaleX(1.5);
    background-color: #93268f;
    margin: 0;
    opacity: 0.3;
    height: 1px;
}
.header-top li {
    list-style-type: none;
    padding: 10px 25px;
    font-size: 11px;
    color: #93268f;
}

.header-top li strong {
    margin-right: 10px;
    margin-left: 10px;
}
.header-top ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.videoWrapper {
    position: relative;
    padding-bottom: 17.25%;
    padding-top: 25px;
    height: 0;
    margin: 90px 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 500px;
}
.arrow_box {
    position: relative;
    background: #e2d2e2;
    width: 100%;
    height: 80px;
    border-radius: 50px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    text-align: justify;
    text-transform: unset;
    font-style: italic;
    color: #828098;
    font-weight: 300;
    font-size: 15px;
}
#box1:after {
    top: 97%;
    left: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(213, 170, 183, 0);
    border-top-color: #e2d2e2;
    border-width: 20px;
    margin-left: -20px;
}
#box4:after {
    top: 97%;
    left: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(213, 170, 183, 0);
    border-top-color: #e2d2e2;
    border-width: 20px;
    margin-left: -20px;
}
#box2:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(213, 170, 183, 0);
    border-top-color: #e2d2e2;
    border-width: 20px;
    margin-left: -20px;
}
#box5:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(213, 170, 183, 0);
    border-top-color: #e2d2e2;
    border-width: 20px;
    margin-left: -20px;
}
#box3:after {
    top: 100%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(213, 170, 183, 0);
    border-top-color: #e2d2e2;
    border-width: 20px;
    margin-left: -20px;
}
#box6:after {
    top: 100%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(213, 170, 183, 0);
    border-top-color: #e2d2e2;
    border-width: 20px;
    margin-left: -20px;
}
#celeb {
    padding-bottom: 90px;
}
#contact {
    background-image: url("../img/contact-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 60px;
    border-top: 20px solid #93268f;
    background-position-y: center;
}
